.home {
  width: 5vw;
  height: 5vh;
}

.home img {
  width: 50%;
  height: 50%;
  padding: 25%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.text {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: default;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none;
}

.active {
  opacity: 1 !important;
  background-color: #4fd1d9;
}

.textBox {
  display: flex;
  align-items: center;
  text-align: -webkit-match-parent;
}

.textBox:hover {
  opacity: 0.5;
}
